.projectCard {
    position: relative;
    background-color: rgb(222, 221, 226);
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem;
    width: 60vw;

}

.projectCard .projectDescription {
    max-height: 100px;
    overflow: hidden;
    transition: 1s ease;
}

.projectCard .projectDescription.show {
    max-height: 200px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projectCard .frame {
    display: flex;
    justify-content: space-between;

}

.projectCard .skillsList {
    display: flex;
    flex-wrap: wrap;
}

.arrow-svg path {
    fill: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
}

.projectCard .arrowButtonFrame {
    display: flex;
    justify-content: center;
}


.projectCard .arrowButton {
    border: none;
    background-color: transparent;
    padding: 1rem;
}

.projectCard img {
    height: 3rem;
    width: auto;
    margin-right: 0.2rem;
}

.projectCard .buttons button {
    background: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    border-radius: 1.5625rem;
    font-weight: bold;
    margin-right: 1rem;
    width: 5rem;
}

/* Tablet */
@media (max-width: 768px) {
    .projectCard .frame {
        flex-direction: column;
        align-items: center;

    }

    .projectCard .buttons {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .projectCard .skillsElements {
        padding-bottom: 1rem;
    }

    .projectCard .skillsList {
        justify-content: center;
    }


}

/*Movil */
@media (max-width: 480px) {}