.projectCard {
    position: relative;
    background-color: rgb(222, 221, 226);
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem;
    width: 60vw;
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
}

.projectCard.visible {
    opacity: 1;
}

.projectCard.slide-in-right {
    animation: slide-in-right 2s ease;
}

.projectCard.slide-in-left {
    animation: slide-in-left 2s ease;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.projectCard .projectDescription {
    max-height: 50px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.projectCard .projectDescription.show {
    max-height: 1000px;
    transition-timing-function: cubic-bezier(0.9, 0, 0.9, 1);
}

.projectCard .arrowButton {
    width: 7%;
    border: none;
    background-color: transparent;
    padding: 1rem;
    transition: transform 0.5s ease;
    transform: rotate(180deg);
    z-index: 1;
}

.projectCard .arrowButton.rotated {
    transform: rotate(0deg);
}

.projectCard .frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCard .skillsList {
    display: flex;
    flex-wrap: wrap;
}

.projectCard .arrowButtonFrame {
    display: flex;
    justify-content: center;
}

.projectCard .skillsList img {
    height: 3rem;
    width: auto;
    margin-right: 0.2rem;
}

.projectCard .buttons {
    display: flex;

}

.projectCard .buttons button {
    background: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    border-radius: 1.5625rem;
    font-weight: bold;
    margin-right: 1rem;
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: underline;

}

.projectCard .buttons button #text {
    text-decoration: none;

}

.projectCard .buttons button svg {
    margin-left: 0.5rem;

}



.projectCard .carousel_frame {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    z-index: 0;
}

.projectCard .desktop_image {
    width: 50%;
}


/* Tablet */
@media (max-width: 768px) {
    .projectCard .frame {
        flex-direction: column;
        align-items: center;
    }

    .projectCard .arrowButton {
        width: 12%;
    }

    .projectCard .buttons {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .projectCard .skillsElements {
        padding-bottom: 1rem;
    }

    .projectCard .skillsList {
        justify-content: center;
    }

    .projectCard .desktop_image {
        width: 70%;
    }

}

/* Movil */
@media (max-width: 480px) {
    .projectCard {
        width: 80vw;
    }

    .projectCard .arrowButton {
        width: 20%;
    }

    .projectCard .desktop_image {
        width: 90%;
    }
}