.skills {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.skillsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    background-color: rgb(222, 221, 226);
    border-radius: 30px;
    justify-content: flex-end;
    width: 8rem;
    max-width: 140px;
}

.softskillsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    background-color: rgb(222, 221, 226);
    border-radius: 30px;
    justify-content: flex-end;
    width: 8rem;
    max-width: 140px;
    justify-content: flex-start;

}

.skillImageFrame {
    height: auto;
    display: flex;

}

.skillsImages {
    height: auto;
    width: 3rem;
    padding-top: 1rem;

}

.skills .skills_name {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
}


.skills h2 {
    background-image: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    -webkit-background-clip: text;
    color: transparent !important;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.15rem;
    padding-bottom: 1rem;
}

.skills .skillsTitle {
    display: flex;

}

.skills h3 {
    color: black;
}

/* Tablet */
@media (max-width: 768px) {
    .skillsCards {

        grid-template-columns: repeat(3, 1fr);

    }

    .skills h2 {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 0.15rem;

    }
}

/*Movil */
@media (max-width: 480px) {
    .skillsCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* Alinea los elementos a la derecha */
    }

    .custom-toggler {
        order: 2;
        /* Cambia el orden para que aparezca después de las opciones */
    }

    .skills h2 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.05rem;

    }
}