.skills {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.skillsCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.skillsCard {

    background-color: rgb(222, 221, 226);
    border-radius: 30px;

}

.skillsImages {
    height: 100px;
    padding-top: 30px;
}

.skills h2 {
    background-image: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    -webkit-background-clip: text;
    color: transparent !important;
    font-size: 64px;
    font-weight: 800;
    line-height: 101px;
    text-align: center;
    letter-spacing: 0.15rem;
}

.skills .skillsTitle {
    display: flex;
}

.skills h3 {
    color: black;
}

/* Tablet */
@media (max-width: 768px) {
    .skillsCards {

        grid-template-columns: repeat(2, 1fr);

    }

    .skills h2 {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 0.15rem;

    }
}

/*Movil */
@media (max-width: 480px) {
    .skillsCards {

        grid-template-columns: repeat(1, 1fr);

    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* Alinea los elementos a la derecha */
    }

    .custom-toggler {
        order: 2;
        /* Cambia el orden para que aparezca después de las opciones */
    }

    .skills h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.05rem;

    }
}