.navigation {
    background-color: transparent;
    color: #DADADA !important;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 0;
}


.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}



.navbar-toggler {
    background-color: white !important;
}


.links {
    display: flex;
    align-items: center
}

.options {
    display: flex;
    align-items: flex-start
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-brand img {
    width: 80.382px;
    height: 70px;
}

.navbar-social .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logoGithub {
    background-color: white;
    border-radius: 50%;
}

.navbar-language button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.navbar-collapse {
    align-items: self-start;
}

.navbar-contact button {
    background: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: black;
    font-weight: bold;
    box-shadow: 1px 0px 21px 0px #3D73EB;
    cursor: pointer;
}

.nav-link.active,
.navbar .nav-link.active:focus,
.navbar .nav-link:hover,
.navbar .nav-link.active:hover {
    background-image: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    -webkit-background-clip: text;
    color: transparent !important;
}


/* Tablet */
@media (max-width: 768px) {

    .navigation {
        align-items: baseline;
        margin-bottom: 3rem;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        align-items: self-start !important;
    }

    .options {
        padding-top: 0.5rem;
    }
}

/*Entre tablet y movil */
@media (max-width: 700) {
    .options {
        flex-direction: column;
    }
}

/*Movil */
@media (max-width: 480px) {

    .navigation {
        align-items: flex-start;

    }

    .navbar-toggler {
        margin-top: 1rem;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        padding-right: 2.5rem;
        margin-bottom: 1.5rem;
        align-items: center !important;

    }

    .navbar-contact {
        padding-top: 1rem;
        padding-left: 0;
    }

    .navbar .options {
        align-items: self-start;
    }

}