.projectsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projectContainer {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.projectContainer.visible {
    opacity: 1;
}