footer {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid rgba(188, 156, 46, 0.00);
    background: var(--Colors-Black, #222);
    align-items: center;

}


.information {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.info-item {
    display: flex;
    flex-direction: row;
    color: var(--Colors-White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Familjen Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.envelope {
    padding-left: 10px;
}

.contact-info {
    margin: 3px;
    padding-left: 5px;
}

.rights {
    color: var(--Colors-Grey1, #A1A1A1);
    font-family: "Familjen Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    display: flex;
    align-items: flex-end;

}

@media screen and (max-width: 767px) {}

/* Tablet */
@media (max-width: 768px) {

    footer {
        padding-top: 0%;

    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

/*Movil */
@media (max-width: 480px) {
    footer {
        flex-direction: column;
        padding: 0%;
        margin-top: 5rem;
        display: flex;
        align-items: center;


    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .rights {
        padding-top: 1%;
    }
}