.movile_carousel {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.slick-list {
    display: flex !important;
    flex-direction: column;
}

.image_frame {
    display: flex !important;
    justify-content: center;
}

.movile_carousel .mobile_image {
    width: 40%;
    border-radius: 10%;
}

.movile_carousel .slick-prev:before {
    color: black !important
}

.movile_carousel .slick-next:before {
    color: black !important
}

/* Tablet */
@media (max-width: 768px) {
    .movile_carousel {
        width: 70%;

    }
}

/* Movil */
@media (max-width: 480px) {

    .movile_carousel {
        width: 80%;

    }


}