.formationCard {
    position: relative;
    background-color: rgb(222, 221, 226);
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem;
    width: 60vw;
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
}

.formationCard h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.formationCard h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
}

.formationCard.visible {
    opacity: 1;
}

.formationCard.slide-in-right {
    animation: slide-in-right 2s ease;
}

.formationCard.slide-in-left {
    animation: slide-in-left 2s ease;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Tablet */
@media (max-width: 768px) {}

/* Movil */
@media (max-width: 480px) {
    .formationCard h2 {
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 158%;
    }

    .formationCard h3 {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 158%;
    }
}