.homePage {
    display: flex;
    justify-content: center;
    align-items: center;

}

.homePage .presentation {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
}

.homePage h1 {
    background-image: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    -webkit-background-clip: text;
    color: transparent !important;
}

.homePage h2 {
    color: white;
}

.homePage img {
    max-width: 100vw;
}

.homePage button {
    box-shadow: 1px 0px 21px 0px #3D73EB;
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(60deg, #0538FF 13.4%, #70E3F5 86.6%);
    border-radius: 1.5625rem;

}

.homePage a {
    text-decoration: none;
}

.desktop-tablet-button {
    display: block;
    /* Asegura que el botón esté en una línea separada */
}

.mobile-button {
    display: none;
    /* Oculta el botón para dispositivos móviles inicialmente */
}

/* Tablet */
@media (max-width: 768px) {
    .homePage {
        flex-direction: column;
        align-items: stretch;

    }


}

/*Movil */
@media (max-width: 480px) {
    .homePage {
        flex-direction: column;
        align-items: center;

    }

    .homePage a {
        display: flex;
        justify-content: center;

    }

    .desktop-tablet-button {
        display: none;
        /* Oculta el botón para escritorio y tablet */
    }

    .mobile-button {
        display: block;
        /* Muestra el botón para dispositivos móviles */
    }
}