.text {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 158%;
    background-color: transparent;
}

.aboutme {

    padding-top: 14%;
    margin-left: 10%;
}

.presentation {
    color: white;
    font-family: Epilogue;
    font-weight: bold;
}

/* Tablet */
@media (max-width: 768px) {}

/*Movil */
@media (max-width: 480px) {}