.text {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 158%;

}

.presentation {
    color: white;
    font-family: Epilogue;
    font-weight: bold;
}

/* Tablet */
@media (max-width: 768px) {
    .aboutMe {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3%;
        padding: 1rem;
        border: 1px solid white;
    }
}

/*Movil */
@media (max-width: 480px) {
    .aboutMe {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3%;
    }
}